#root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
	color: white;
	background-color: #F498B8;
	font-size: 26px;
	padding: 24px 24px 24px 50px;
}

.dashboard {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

.sidebar-scoops {
    width: 350px;
    font-size: .9rem;
    color: #F498B8;
}

.sidebar-scoops h1 {
    font-size: 18px;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
    color: #8e1537;
}

.sidebar-scoops article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.scoop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    padding-left: 20px;
}

.flavor-labels {
    width: 175px;
    font-size: 14px;
    margin: auto 0;
    text-align: center;
}

/* charts */

.scoop-data {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    height: 30vh;
    width: 60vw;
}

.scoop-data div {
    width: 50%;
    display: flex;
    flex-direction: column;
}



.scoop-trend {
    position: relative;
    margin: auto;
    padding-top: 30px;
    height: 40vh;
    width: 60vw;
}

.section-charts {
    padding: 0px 20px 20px 20px;
}

.section-charts h1,
.section-charts h2 {
    font-weight: bolder;
    padding: 20px 10px 20px 10px;
    padding-left: 0;
}

.section-charts h1 {
    font-size: 24px;
    color: #8e1537;
}

.section-charts h2 {
    font-size: 18px;
    color: #F498B8;
}

p {
    font-size: 12px;
    color: grey;
    /* padding: 0 10px 0 10px; */
}

@media screen and (max-width: 1100px){
    .flavor-labels {
        width: 175px;
        font-size: .85vw;
        margin: auto 0;
        text-align: center;
    }
}

@media screen and (max-width: 1100px){
    
}