#root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
	color: white;
	background-color: #F498B8;
	font-size: 26px;
	padding: 24px 24px 24px 50px;
}

.dashboard {
    position: relative;
    display: flex;
    padding: 30px;
    height: 100%;
}

.sidebar-scoops {
    width: 25vw;
    font-size: .9rem;
    color: #F498B8;
}

.sidebar-scoops h1 {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
}

.sidebar-scoops article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.scoop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    padding-left: 20px;
}

.flavor-labels {
    width: 175px;
    font-size: 14px;
    margin: auto 0;
    text-align: center;
}

.scoop-data {
    display: flex;
    flex-direction: row;
}

.scoop-data div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chartjs-render-monitor {
    padding: 30px;
}

.scoop-trend {
    /* height: calc(70%); */
}

.section-charts {
    /* height: 100%; */
    width: 100vw;
    padding: 20px;
    border: 3px solid black;
}

.section-charts h2 {
    font-size: 18px;
    color: #F498B8;
    padding: 20px;
}

@media screen and (max-width: 1200px){
    .flavor-labels {
        width: 175px;
        font-size: .85vw;
        margin: auto 0;
        text-align: center;
    }
}

@media screen and (max-width: 1000px){
    
}